<%
  b = block.respond_to?(:to_h) ? block.to_h : block
  idx = b[:index] || b['index']
  hash_val = b[:hash] || b['hash']
  prev_hash = b[:previous_hash] || b['previous_hash']
  merkle = b[:merkle_root] || b['merkle_root']
  ts = b[:timestamp] || b['timestamp']
  data = b[:data] || b['data']
%>

<article>
  <header>
    Block #<%= idx %> Detail
    <button class="outline secondary btn-sm" onclick="document.getElementById('block-detail').innerHTML=''" style="float:right">Close</button>
  </header>
  <div class="overflow-auto">
    <table>
      <tr><th>Index</th><td><%= idx %></td></tr>
      <tr><th>Timestamp</th><td><%= h(ts) %></td></tr>
      <tr><th>Hash</th><td><code class="hash"><%= h(hash_val) %></code></td></tr>
      <tr><th>Previous Hash</th><td><code class="hash"><%= h(prev_hash) %></code></td></tr>
      <% if merkle %>
        <tr><th>Merkle Root</th><td><code class="hash"><%= h(merkle) %></code></td></tr>
      <% end %>
    </table>
  </div>

  <h4>Data (<%= data.is_a?(Array) ? data.size : 1 %> entries)</h4>
  <pre class="block-data"><%= h(JSON.pretty_generate(data)) rescue h(data.to_s) %></pre>
</article>
